main{
    margin: 0;
    display: grid;
    grid-template-areas: 'header'
                         'media-section'
                         'explanation';
}

/*Start grid área definition*/
main > header {
    grid-area: header;
}
main .media-section {
    grid-area: media-section;
}
main .explanation {
    grid-area: explanation;
}
/*End grid área definition*/

.media-section, .explanation {
    display: flex;
    justify-content: center;
}
img, iframe {
    width: 80%;
    height: 30em;
    border-radius: 25px;
}

header {
    background: #4E5977;
    display: flex;
    align-items: center;
}

#logo {
	margin: 20px;
	float: left;
    width: 2em;
    height: 2em;
    background: url(./../assets/bars-solid.svg) no-repeat;
	display: block;
}