<main>
  <app-menu #menu [menuItems]="items.values" (itemSelected)="getMenuSelect($event)"></app-menu>
  <header>
    <a #logo id="logo" (click)="menu.toggle()"></a>
    <h3>Know About Universe</h3>
  </header>
  <section id="media-section" class="media-section">
    <img *ngIf="showImg" [src]="sanitizerUrl(Data.url)" alt="">
    <iframe *ngIf="showVideo" [src]="sanitizerUrl(Data.url)">
    </iframe>
  </section>
  <section id="explanation" class="explanation">
    <p class="description">{{Data.explanation}}</p>
  </section>
</main>

  


