<app-menu #menu [menuItems]="items.values" (itemSelected)="getMenuSelect($event)"></app-menu>
<main>
  <header>

    <span (click)="menu.toggle()">&#9776;</span>
      <h2>Know About Universe</h2>
    
  </header>
  <section id="title-section" class="title-section">
    <h3>{{Data.title}}</h3>
  </section>
  <section id="media-section" class="media-section">
    
    <img *ngIf="showImg" [src]="sanitizerUrl(Data.url)" alt="">
    <iframe *ngIf="showVideo" [src]="sanitizerUrl(Data.url)">
    </iframe>
  </section>
  <section id="explanation" class="explanation">
    <p class="description">{{Data.explanation}}</p>
  </section>
</main>

  


